<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <div class="header_container">
          <h1>Travel Weather App</h1>
          <h2>Where will we be travelling?</h2>
        </div>
      </header>
      <p class="app_desc">
        Please enter somewhere you'd like to travel, along with a date. If it's
        within 7 days, you will see the current weather. If it's further in the
        future, you will be given a future forecast.
      </p>
      <div class="card">
        <form class="input">
          <label class="input_label" for="user-location">Enter location:</label>
          <input
            class="input_input"
            type="text"
            id="user-location"
            placeholder="Enter location"
          />
          <label class="input_label" for="user-date">Enter date:</label>
          <input
            class="input_input"
            type="date"
            id="user-date"
            placeholder="Enter date"
          />
          <button class="input_button">Submit</button>
          <p class="input_error hide"></p>
        </form>
        <div class="output">
          <img
            class="output_image"
            src="https://upload.wikimedia.org/wikipedia/commons/3/39/Downtown_Detroit%2C_Michigan_from_Windsor%2C_Ontario_%2821760963102%29.jpg"
          />
          <div class="output_info">
            <div class="output_location">Detroit</div>
            <img
              class="output_icon"
              src="https://www.weatherbit.io/static/img/icons/t01d.png"
            />
            <div class="output_temp">80F</div>
            <div class="output_desc">description</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
